html{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    margin: 0;
    background-color: rgb(237, 217, 243);
}
header {
    background-color: #fa96c8;
    color: white;
    padding: 3rem 2rem;
    text-align: center;      
}
.bienvenida {
    text-align: center;
    margin: 2rem 0;
}
.contenido{
    width: 90%;
    max-width: 600PX;
    margin: 0 auto;
    text-align: center;
}
section article {
    transition: box-shadow 0.4s ease;
    background-color: #ffffff;
    margin: 1rem 0;
    border-radius: 25px;
    padding: 0.25rem 0;
}
section article h2, section article p {
    margin: 0.5rem;
}
section article img {
    margin: 0.3rem;
    border-radius: 15px;
}
section article:hover {
 box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.50);
 cursor: pointer;   
}
section a{
    color: black;
    text-decoration: none;
}
footer {
    text-align: center;
    background-color: #fdb3d8;
    padding: 1rem;
    color: black;
}
footer a {
    transition: color 0.3s ease;
    color: #df2591;   
    text-decoration: none;
}
footer a:hover {

    color: rgb(101, 142, 255);
}

